.sidebarOptions{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 10px;
    cursor: pointer;
    color: #818181;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sidebarOptions:hover,
.sidebarOptions:hover > p,
.sidebarOptions:hover > h3,
.sidebarOptions--active,
.sidebarOptions--active > p,
.sidebarOptions--active > h3{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800 !important;
}


.sidebarOptions > h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.sidebarOptions > .MuiSvgIcon-root{
    padding: 5px;
}

.sidebarOptions > p{
    display: none;
    font-weight: 300;
}
.sidebarOptions--active > p{
    display: inline !important;
}

.sidebarOptions:hover > p{
    display: inline;
}